.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.elevator {
    border: 5px solid #7F95D1;
    min-width: 50vw;
}

.info {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.insidePanel {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.insideButton {
    margin: 2px;
}

.test {
    margin-right: 10px;
    height: 20px;
    width: 50px;
    margin-top: 5px;
}

.floors {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.floor {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10vw;
    height: 7vh;
    background-color: #e7e7e7;
    text-align: center;
}

.currentFloor {
    background-color: limegreen;
}

.up-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}
